* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #ffe2c5;
    background-size: cover;
}
nav ul {
    background-color: #fcf951;
    border-radius: 0px 10px 10px 0px;
    width: 50%;
    padding: 20px;
}
nav a {
    margin: 0 15px;
    color: #5154FC;
    font-size: 18px;
}

nav ul {
    float: left;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
}
nav ul li a {
    display: block;
    text-decoration: none;
}
nav ul li ul {
    display: none;
    position: absolute;
    background-color: #fcf951;
    padding: 7px;
    border-radius: 0px 0px 10px 10px;
    width: 180px;
}
nav ul li:hover ul {
    display: block;
}
nav ul li ul li{
    width: 180px;
}
nav ul li ul li a {
    padding: 8px 8px;
}

nav ul li ul li a:hover {
   background-color: #F1ED29;
}

#contactme {
    text-align: center;
    border-style: dotted;
}
#no {
    border: 2px solid #5646a2;
    padding: 7px;
    border-radius: 8px;
    background-color: #5646a2;
    color: #f8f0e8;
}
#no:hover {
    background-color: #f8f0e8;
    color: #5646a2;
}
#submit {
    padding: 7px;
    border-radius: 8px;
    background-color: #5646a2;
    color: #f8f0e8;
}
#submit:hover {
    background-color: #f8f0e8;
    color: #5646a2;
}


